/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.64px;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.form {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.input-text {
  border-radius: 4px;
  border: 1px solid #808080;

  width: 238px;
  height: 22px;
  flex-shrink: 0;

  margin-bottom: 32px;

  color: #808080;
  line-height: 1.5;

  padding: 8px 16px;
}

.button {
  color: #fff;
  font-weight: 500;
  line-height: 1.5;

  width: 91px;
  height: 40px;

  border-radius: 8px;
  border-color: transparent;
  background: #4e75ff;

  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button:hover {
  background: #6c8cff;
}

.load {
  color: #2e2f42;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.gallery {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 24px;
  margin: auto;
}

.gallery > div {
  border-radius: 4px;
  border: 1px solid #616161;
}

.gallery img {
  display: block;
  width: 360px;
  height: 200px;
}

.info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
  padding-left: 10px;
  padding-right: 10px;
}

.crit-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
}

.crit-value {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
